<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta content='width=device-width, initial-scale=1' name='viewport'>
  <title>{% block title %}Beehive Data | High quality data about charitable funding{% endblock %}</title>
  <link rel="stylesheet" media="all" href="/static/css/semantic.min.css" />
  <link rel="stylesheet" media="all" href="/static/css/style.css" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <!--<script src="/assets/application-9e7f3257e11e1ca7a8755b9d4ad0ba0e3fe666ef2e68e822f279a730343658a2.js"></script>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="fIhHWCqGSBCNScotY6HvUdnliagg4zlLGso1dNgWysigkyzotgWSLS75U1yKaWb6dA+u0MZiYQ3RpXKdFPEy8g==" />-->
  {% block scripts %}
  {% endblock %}
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ config['ga_key'] }}', 'auto');
  ga('send', 'pageview');
  </script>
  {% endblock %}
</head>
<body>
  {% include "navbar.html" %}
  {% include "flash.html" %}
  {% block content %}
  <div class='ui container'>
  </div>
  {% endblock %}
  {% block footer %}
  <div class='ui text container basic segment' id='footer'>
    <hr>
    <small>
      &copy; {{ now.year }}
      <a class="red" target="_blank" href="http://www.beehivegiving.org/welcome?utm_source=BeehiveData&amp;utm_medium=Link&amp;utm_campaign=BeehiveData">BeehiveGiving.org</a>
      <br>
      Incubated by <a class="red" target="_blank" href="http://wearecast.org.uk/?utm_source=BeehiveData&amp;utm_medium=Link&amp;utm_campaign=BeehiveData">CAST</a> 
      (Registered Charity No: <a class="red" target="_blank" href="http://beta.charitycommission.gov.uk/charity-details/?regid=1161998&subid=0">1161998</a>, 
      Company No: <a class="red" target="_blank" href="https://beta.companieshouse.gov.uk/company/09544506">9544506</a>)
      <br>
      <a class="red" href="{{ url_for('home.sources') }}">Data sources</a>
    </small>
  </div>
  {% endblock %}
</body>
</html>
