{% extends "base.html" %}
{% block content %}
<div class='ui container basic segment'>
  <h1 class='ui header'>
    <a class='logo' href='/' title='Beehive Data'>Beehive Data</a>
  </h1>
  <hr>
  <h2>{{ charity["name"] }}</h2>
  <ul>
    <li><strong>Registered:</strong> {{ charity["date_registered"].strftime("%d/%m/%Y") }}</li>
    <li><strong>Latest income:</strong> £{{ "{:,.0f}".format(charity["income"]) }} (year ending {{ charity["fye"].strftime("%d/%m/%Y") }})</li>
  </ul>
  <h3>{{ grants|length }} grants</h3>
  <table class="ui table">
    <thead>
      <tr>
        <th>From</th>
        <th>Amount</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for g in grants %}
      <tr>
        <td>
          <a href="{{ url_for('api.funder', funder_id=g.get("fundingOrganization", [{}])[0].get("id")) }}">
            {{ g.get("fundingOrganization", [{}])[0].get("name","[Unknown]") }}
          </a>
        </td>
        <td class="right aligned">
          {% if g.get("currency", "GBP") != "GBP": %}
            [{{ g.get("currency", "GBP") }}]
          {% endif %}
          {{ "{:,.0f}".format(g.get("amountAwarded", 0)) }}
        </td>
        <td class="right aligned">{{ g.get("awardDate","[Unknown]").strftime("%d/%m/%Y") }}</td>
        <td class="selectable">
          <a href="{{ url_for('api.grant', grant_id=g.get("id") ) }}">
            More details…
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
