{% extends "base.html" %}
{% block content %}
<div class='ui text container basic segment' id='logo'>
  <h1 class='ui header'>
    <a class='logo' href='/' title='Beehive Data'>Beehive Data</a>
  </h1>
</div>
<div class='ui text container basic segment' id='header'>
  <h2>High quality data about charitable funding</h2>
  <p>
    <em>Beehive Data</em>
    is part of a family of tools and technology that helps charitable organisations and their funders make the most of their resources when working together. Its purpose is to improve open data about charitable funding, as well as providing an interface for other tools to access and use the information it enriches.
  </p>
  <p>
    <a class="big red ui button" href="/examples">Examples</a>
    <a class="big basic red ui button" data-tooltip="Coming soon" data-inverted="" href="#coming-soon">Get a developer token</a>
  </p>
  <p>
    <a class="red" target="_blank" href="http://beehive-data.api-docs.io/">API Docs</a>
  </p>
</div>
<div class='ui text container basic segment'>
  <h3 class='ui header'>
    <span class='icons tools'></span>
    Powerful tools
  </h3>
  <p>
    Like fuel in a car, information from
    <em>Beehive Data</em>
    makes advanced features like the funding recommendations on
    <a class="red" target="_blank" href="http://www.beehivegiving.org/welcome?utm_source=BeehiveData&amp;utm_medium=Link&amp;utm_campaign=BeehiveData">Beehive Giving</a>
    possible. What will you make?
  </p>
  <h3 class='ui header'>
    <span class='icons decisions'></span>
    Make better decisions
  </h3>
  <p>Understand the make up of charitable funding in unparalleled detail, and back up your experience with evidence.</p>
  <h3 class='ui header'>
    <span class='icons impact'></span>
    Collective impact
  </h3>
  <p>Look back at previous charitable funding and learn where to spend your time and resources.</p>
</div>
{% endblock %}
