{% extends "base.html" %}
{% block content %}
<style>
th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform:
    translate(5px, 51px)
    rotate(270deg);
  width: 30px;
}
th.rotate > div > span {
  padding: 5px 5px;
}
.fund-status-feedback {
  width: 50px;
}
</style>
<div class='ui container basic segment'>
  <h1 class='ui dividing header'>
    <a class='logo' href='/' title='Beehive Data'>Beehive Data</a>
  </h1>
  <h2>Data Sources</h2>
  <p>The data used by this site comes from a variety of sources.</p>
  <h3>360 Giving data</h3>
  <p>
    Data on grants made by the following organisations is published by them
    under the <a href="http://www.threesixtygiving.org/">360 Giving scheme.</a>
  </p>
  <div class="ui statistics">
    <div class="statistic">
      <div class="value">
        {{ sources|groupby('publisher.name')|length }}
      </div>
      <div class="label">
        Publishers
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        {{ sources|length }}
      </div>
      <div class="label">
        Files
      </div>
    </div>
  </div>
  <table class="ui table">
    <thead>
      <tr>
        <th>Publisher</th>
        <th>File</th>
        <th>License</th>
      </tr>
    </thead>
    <tbody>
    {% for file in sources %}
      {% for d in file.distribution %}
      <tr>
        <td>{{ file.publisher.name }}</td>
        <td><a href="{{ d.accessURL }}">{{ d.title }}</a></td>
        <td><a href="{{ file.license }}">{{ file.license_name }}</a></td>
      </tr>
      {% endfor %}
    {% endfor %}
    </tbody>
  </table>
  <hr>
  <h3>Share-Alike data</h3>
  <p>
    The following data from 360 Giving publishers has been used under a 
    <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons 
    Share-Alike license</a>. In accordance with the terms of this license
    we are releasing our cleaned and adapted data under the same license.
  </p>
  <div class="ui statistics">
    <div class="statistic">
      <div class="value">
        {{ sharealike_files|groupby('publisher.name')|length }}
      </div>
      <div class="label">
        Publishers
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        {{ sharealike_files|length }}
      </div>
      <div class="label">
        Files
      </div>
    </div>
  </div>
  <ul>
     {% for file in sharealike_files %}
     <li><strong>{{ file.publisher.name }}</strong> - <a href="/datasets/{{ file._id}}.json">{{ file.title }}</a> [json]</li>
     {% endfor %}
  </ul>
  <hr>
  <h3>Charity registration data</h3>
  <p>
    In addition to the data on grants made by 360 Giving publishers, Beehive Data also uses data
    on registered charities from three different regulators. 
  </p>
  <div class="ui statistics">
    <div class="statistic">
      <div class="value">
        3
      </div>
      <div class="label">
        Regulators
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        {{ "{:,.0f}".format(num_charities) }}
      </div>
      <div class="label">
        Charities
      </div>
    </div>
  </div>
  <ul>
    {% for r in regulators %}
    <li>
      <strong><a href="{{ r["source"] }}">{{ r["name"] }}</a></strong> 
      {% if r.get("license"): %}
      [<a href="{{ r["license"]["url"] }}">{{ r["license"]["name"] }}</a>] 
      {% endif %}
      ({{ "{:,.0f}".format(r["charities"]) }} charities)
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
